@tailwind base;
@tailwind components;
@tailwind utilities;

button:not([disabled]) {
    cursor: pointer;
    transition: all 0.1s linear;
  }
  
  button:active:not([disabled]) {
    transform: translateY(4px);
  }
  
  button[disabled]:not(.custom) {
    opacity: 0.5;
  }
  
  button.custom[disabled] {
    background-color: #5c6066;
  }